body {
	background-color: #144955;
}

* {
	font-family: sans-serif;
}

a:link, a:visited {
	color: #F14C38;
}

a:hover, a.active {
	color: #F4F1E0;
}

.blog {
	width: 750px;
	margin: auto;
}

p, ul {
	color: #ffffff;
	line-height: 1.3;
	text-indent: 1.0em;
}

h4 {
	color: #F4F1E0;
	line-height: 1.3;
	text-indent: 1.0em;
}

h1, h2 {
	color: #ffffff;
	margin-left: 10px;
	text-align: center;
}
