body {
	background-color: #144955;
}

a:link, a:visited {
	color: #F14C38;
}

a:hover {
	color: #F4F1E0;
}

p {
	color: #ffffff;
	width: 800px;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2 {
	color: #ffffff;
	margin-left: 10px;
	text-align: center;
}